<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124839745687-sg4jm3ctulno4omff7lgta01mv2br06b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124839745687-sg4jm3ctulno4omff7lgta01mv2br06b</string>
	<key>API_KEY</key>
	<string>AIzaSyDfEfCTuYNZTmR1C7BWVKhL-RHhBcHZFJI</string>
	<key>GCM_SENDER_ID</key>
	<string>124839745687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflixApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>netfilex-app-c5f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>netfilex-app-c5f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124839745687:ios:be2101e59365f0f17831d2</string>
</dict>
</plist>